{% load staticfiles %}
<!DOCTYPE html>
<html lang="es">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>bio.vege</title>
    <link rel="shortcut icon" href="{% static 'img/logos/bio.png' %}">
    <!-- New fonts -->
    <link href="https://fonts.googleapis.com/css?family=Shadows+Into+Light&text=bio.vege" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Oswald:200,400" rel="stylesheet">
    <!-- Bootstrap core CSS -->
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <!-- Custom fonts for this template -->
    <link href="{% static 'vendor/font-awesome/css/font-awesome.css' %}" rel="stylesheet" type="text/css">
    <!-- Custom styles for this template -->
    <link href="{% static 'css/agency.css' %}" rel="stylesheet">
    <!-- Hotjar -->
    <!-- Hotjar Tracking Code for http://django-env.uvzeshzmdg.eu-central-1.elasticb -->
    <script>
        (function(h,o,t,j,a,r){
            h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
            h._hjSettings={hjid:923957,hjsv:6};
            a=o.getElementsByTagName('head')[0];
            r=o.createElement('script');r.async=1;
            r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
            a.appendChild(r);
        })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
    </script>
  </head>

  <body id="page-top">

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#page-top"></a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          
          <i class="fa fa-bars"> - Menú</i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav text-uppercase ml-auto">
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#services">Servicios</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#portfolio">Portafolio</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#about">Acerca De</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#team">Equipo</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#contact">Contacto</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Header -->
    <header class="masthead">
      <div class="container">
        <div class="intro-text">
          <div class="intro-heading">bio.vege</div>
          <a class=" btn_icon-primary js-scroll-trigger" href="#services"></a>
        </div>
        <div>
          <div class="intro-line"></div>
          <div class="intro-line-text text-uppercase">Bio-ingeniería, tecnología, agronomía</div>
          <div class="intro-line"></div>
        </div>
        <div class="intro-line-pad" >
          <a class=" btn_bio btn_bio-xl btn_bio-primary js-scroll-trigger text-uppercase" href="#services">Leer más</a>
        </div>
        
      </div>
    </header>

    <!-- Services -->
    <section id="services">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading text-uppercase">Servicios</h2>
            <h3 class="section-subheading text-muted">Comunidades afroecuatorianas productoras de coco encofitado (cocadas) cuyo compromiso con el cuidado del ambiente hace que la utilización de los residuos del coco, les permita conservar las riveras de los ríos y el manglar fuente de vida y sustento diario de la comunidad.</h3>
          </div>
        </div>
        <div class="row text-center">
          <div class="col-md-4">
            <a class="organic"></a>
            <h4 class="service-heading">Siembra</h4>
            <p class="text-muted">Genial para jardinería orgánica.</p>
          </div>
          <div class="col-md-4">
            <a class="biodegradable"></a>
            <h4 class="service-heading">Transporta</h4>
            <p class="text-muted">Transplante de semillas.</p>
          </div>
          <div class="col-md-4">
            <a class="alternativ"></a>
            <h4 class="service-heading">Transplanta</h4>
            <p class="text-muted">Amigable con el ambiente.</p>
          </div>
        </div>
      </div>
    </section>

    <!-- Portfolio Grid -->
    <section class="bg-light" id="portfolio">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading text-uppercase">Portafolio</h2>
            <h3 class="section-subheading text-muted">Nuestros productos ...</h3>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4 col-sm-6 portfolio-item">
            <a class="portfolio-link" data-toggle="modal" href="#portfolioModal1">
              <div class="portfolio-hover">
                <div class="portfolio-hover-content">
                  <i class="plus"></i>
                </div>
              </div>
              <img class="img-fluid" src="{% static 'img/portfolio/1_t.jpg' %}" alt="">
            </a>
            <div class="portfolio-caption">
              <h4>Maceta</h4>
              <p class="text-muted">Circular / Prensado</p>
            </div>
          </div>
          <div class="col-md-4 col-sm-6 portfolio-item">
            <a class="portfolio-link" data-toggle="modal" href="#portfolioModal2">
              <div class="portfolio-hover">
                <div class="portfolio-hover-content">
                  <i class="plus"></i>
                </div>
              </div>
              <img class="img-fluid" src="{% static 'img/portfolio/2_t.jpg' %}" alt="">
            </a>
            <div class="portfolio-caption">
              <h4>Jardineras</h4>
              <p class="text-muted">Cuadrado / Cocido</p>
            </div>
          </div>
          <div class="col-md-4 col-sm-6 portfolio-item">
            <a class="portfolio-link" data-toggle="modal" href="#portfolioModal3">
              <div class="portfolio-hover">
                <div class="portfolio-hover-content">
                  <i class="plus"></i>
                </div>
              </div>
              <img class="img-fluid" src="{% static 'img/portfolio/3_t.jpg' %}" alt="">
            </a>
            <div class="portfolio-caption">
              <h4>Maceta Decorativa</h4>
              <p class="text-muted">Circular / Prensado</p>
            </div>
          </div>
          
        </div>
      </div>
    </section>

    <!-- About -->
    <section id="about">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading text-uppercase">Acerca de </h2>
            <h3 class="section-subheading text-muted">Con una variada experiencia en la industria agrícola y ambiental. BIOVG es un emprendimiento fundado bajo los criterios técnicos de la Ing. Agr. Vilma Guzmán. Con la finalidad de presentar una solución técnica innovadora al uso del plástico en jardinería.
Nuestro espíritu de brindar asesoría integral y darle alegría y felicidad a nuestros clientes..</h3>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <ul class="timeline">
              <li>
                <div class="timeline-image">
                  <img class="rounded-circle img-fluid" src="{% static 'img/about/1.jpg' %}" alt="">
                </div>
                <div class="timeline-panel">
                  <div class="timeline-heading">
                    <h4>2009-2011</h4>
                    <h4 class="subheading">Nuestros inicios</h4>
                  </div>
                  <div class="timeline-body">
                    <p class="text-muted">Agronomía!</p>
                  </div>
                </div>
              </li>
              <li class="timeline-inverted">
                <div class="timeline-image">
                  <img class="rounded-circle img-fluid" src="{% static 'img/about/2.jpg' %}" alt="">
                </div>
                <div class="timeline-panel">
                  <div class="timeline-heading">
                    <h4>Marzo 2011</h4>
                    <h4 class="subheading">Economía del Bien Común</h4>
                  </div>
                  <div class="timeline-body">
                    <p class="text-muted">Emprendimiento e innovación!</p>
                  </div>
                </div>
              </li>
              <li>
                <div class="timeline-image">
                  <img class="rounded-circle img-fluid" src="{% static 'img/about/3.jpg' %}" alt="">
                </div>
                <div class="timeline-panel">
                  <div class="timeline-heading">
                    <h4>Diciembre 2012</h4>
                    <h4 class="subheading">Economía Social y Solidaria</h4>
                  </div>
                  <div class="timeline-body">
                    <p class="text-muted">Modelos de negocio inclusivos, sociales y solidarios!</p>
                  </div>
                </div>
              </li>
              <li class="timeline-inverted">
                <div class="timeline-image">
                  <img class="rounded-circle img-fluid" src="{% static 'img/about/4.jpg' %}" alt="">
                </div>
                <div class="timeline-panel">
                  <div class="timeline-heading">
                    <h4>Julio 2014</h4>
                    <h4 class="subheading">Bio-ingeniería Aplicada</h4>
                  </div>
                  <div class="timeline-body">
                    <p class="text-muted">Valor agregado con pilares en economía, desarrollo sustentable e innovación!</p>
                  </div>
                </div>
              </li>
              <li class="timeline-inverted">
                <div class="timeline-image">
                  <h4>Se parte 
                    <br>de Nuestra
                    <br>Historia!</h4>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section>

    <!-- Team -->
    <section class="bg-light" id="team">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading text-uppercase">Nuestro Equipo</h2>
            <h3 class="section-subheading text-muted">Bioingeniería</h3>
          </div>
        </div>
        <div class="row">
           <div class="col-sm-4">
           
          </div>
          <div class="col-sm-4">
            <div class="team-member">
              <img class="mx-auto rounded-circle" src="{% static 'img/team/7.jpg' %}" alt="">
              <h4>Vilma Guzmán</h4>
              <p class="text-muted">CEO</p>
              <ul class="list-inline social-buttons">
                <li class="list-inline-item">
                  <a href="#">
                    <i class="social_t"></i>
                  </a>
                </li>
                <li class="list-inline-item">
                  <a href="#">
                    <i class="social_f"></i>
                  </a>
                </li>
                <li class="list-inline-item">
                  <a href="#">
                    <i class="social_in"></i>
                  </a>
                </li>
              </ul>
            </div>
          </div>
          
        <div class="row">
          <div class="col-lg-8 mx-auto text-center">
            <p class="large text-muted">Buscas innovación? Estamos atentos a tus necesidades.</p>
          </div>
        </div>
      </div>
    </section>

    <!-- Clients -->
    <!-- <section class="py-5">
      <div class="container">
        <div class="row">
          <div class="col-md-3 col-sm-6">
            <a href="#">
              <img class="img-fluid d-block mx-auto" src="{% static 'img/logos/envato.jpg' %}" alt="">
            </a>
          </div>
          <div class="col-md-3 col-sm-6">
            <a href="#">
              <img class="img-fluid d-block mx-auto" src="{% static 'img/logos/designmodo.jpg' %}" alt="">
            </a>
          </div>
          <div class="col-md-3 col-sm-6">
            <a href="#">
              <img class="img-fluid d-block mx-auto" src="{% static 'img/logos/themeforest.jpg' %}" alt="">
            </a>
          </div>
          <div class="col-md-3 col-sm-6">
            <a href="#">
              <img class="img-fluid d-block mx-auto" src="{% static 'img/logos/creative-market.jpg' %}" alt="">
            </a>
          </div>
        </div>
      </div>
    </section> -->

    <!-- Contact -->
    <section id="contact">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading text-uppercase">Contactános</h2>
            <h3 class="section-subheading text-muted">Contacto directo.</h3>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <form id="contactForm" name="sentMessage" novalidate="novalidate">
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <input class="form-control" id="name" type="text" placeholder="Su Nombre *" required="required" data-validation-required-message="Por favor ingrese su nombre.">
                    <p class="help-block text-danger"></p>
                  </div>
                  <div class="form-group">
                    <input class="form-control" id="email" type="email" placeholder="Su Email *" required="required" data-validation-required-message="Por favor ingrese su correo electrónico.">
                    <p class="help-block text-danger"></p>
                  </div>
                  <div class="form-group">
                    <input class="form-control" id="phone" type="tel" placeholder="Su Teléfono *" required="required" data-validation-required-message="Por favor ingrese su numero telefónico.">
                    <p class="help-block text-danger"></p>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <textarea class="form-control" id="message" placeholder="Su Mensaje *" required="required" data-validation-required-message="Su mensaje."></textarea>
                    <p class="help-block text-danger"></p>
                  </div>
                </div>
                <div class="clearfix"></div>
                <div class="col-lg-12 text-center">
                  <div id="success"></div>
                  <button id="sendMessageButton" class="btn btn-primary btn-xl text-uppercase" type="submit">Enviar Mensaje</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </section>

    <!-- Footer -->
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <span class="copyright">Copyright &copy; bio.vege 2018</span>
          </div>
          <div class="col-md-4">
            <ul class="list-inline social-buttons">
              <li class="list-inline-item">
                <a href="#">
                  <i class="social_t"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="#">
                  <i class="social_f"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="#">
                  <i class="social_in"></i>
                </a>
              </li>
            </ul>
          </div>
          <div class="col-md-4">
            <ul class="list-inline quicklinks">
              <li class="list-inline-item">
                <a href="#">Política de Privacidad</a>
              </li>
              <li class="list-inline-item">
                <a href="#">Términos de Uso</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </footer>

    <!-- Portfolio Modals -->

    <!-- Modal 1 -->
    <div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="close-modal" data-dismiss="modal">
            <div class="lr">
              <div class="rl"></div>
            </div>
          </div>
          <div class="container">
            <div class="row">
              <div class="col-lg-8 mx-auto">
                <div class="modal-body">
                  <!-- Project Details Go Here -->
                  <h2 class="text-uppercase">Maceta</h2>
                  <p class="item-intro text-muted">.</p>
                  <img class="img-fluid d-block mx-auto" src="{% static 'img/portfolio/1_f.jpg' %}" alt="">
                  <p>Esta maceta!</p>
                  <ul class="list-inline">
                    <li>Dimensiones: 20cmx10cm</li>
                    <li>Cliente: Jardineros</li>
                    <li>Categoría: Transportable</li>
                  </ul>
                  <button class="btn btn-primary" data-dismiss="modal" type="button">
                    Cerrar</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal 2 -->
    <div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="close-modal" data-dismiss="modal">
            <div class="lr">
              <div class="rl"></div>
            </div>
          </div>
          <div class="container">
            <div class="row">
              <div class="col-lg-8 mx-auto">
                <div class="modal-body">
                  <!-- Project Details Go Here -->
                  <h2 class="text-uppercase">Jardineras</h2>
                  <p class="item-intro text-muted">Jardineras en varios tamaños.</p>
                  <img class="img-fluid d-block mx-auto" src="{% static 'img/portfolio/2_f.jpg' %}" alt="">
                  <p>Estas jardineras pueden ser transportadas, transplantadas sin residuos!</p>
                  <ul class="list-inline">
                    <li>Dimensiones: 2017</li>
                    <li>Cliente: </li>
                    <li>Categoría: </li>
                  </ul>
                  <img class="img-fluid d-block mx-auto" src="{% static 'img/portfolio/2_1_f.jpg' %}" alt="">
                  <p>Estas jardineras pueden ser transportadas, transplantadas sin residuos!</p>
                  <ul class="list-inline">
                    <li>Dimensiones: 2017</li>
                    <li>Cliente: </li>
                    <li>Categoría: </li>
                  </ul>


                  <button class="btn btn-primary" data-dismiss="modal" type="button">
                    Cerrar</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal 3 -->
    <div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="close-modal" data-dismiss="modal">
            <div class="lr">
              <div class="rl"></div>
            </div>
          </div>
          <div class="container">
            <div class="row">
              <div class="col-lg-8 mx-auto">
                <div class="modal-body">
                  <!-- Project Details Go Here -->
                  <h2 class="text-uppercase">Macetas Decorativas</h2>
                  <p class="item-intro text-muted">Pequeñas jardineras.</p>
                  <img class="img-fluid d-block mx-auto" src="{% static 'img/portfolio/3_f.jpg' %}" alt="">
                  <p>Estas macetas pueden ser utilizadas en jardines pequeños!</p>
                  <ul class="list-inline">
                    <li>Dimensiones:  2017</li>
                    <li>Precio: </li>
                    <li>Categoría: </li>
                  </ul>
                  <button class="btn btn-primary" data-dismiss="modal" type="button">
                    Cerrar</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Bootstrap core JavaScript -->
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

    <!-- Plugin JavaScript -->
    <script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>

    <!-- Contact form JavaScript -->
    <script src="{% static 'js/jqBootstrapValidation.js' %}"></script>
    <script src="{% static 'js/contact_me.js' %}"></script>

    <!-- Custom scripts for this template -->
    <script src="{% static 'js/agency.min.js' %}"></script>

  </body>

</html>
